@import url("https://fonts.googleapis.com/css?family=Poppins");


body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.topnavbar {
    /*background-color: yellow;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    background-color: hsl(174, 63%, 62%);
    position: fixed;
    width: 100%; /* Lebar navbar mengisi seluruh lebar layar */
    top: 0; /* Navbar berada di bagian atas layar */
    z-index: 1000; /* Menentukan tingkat z-index untuk mengontrol tumpukan */
    padding-top: 10px;
    padding-bottom: 10px;   
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3) 
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 24px;
    vertical-align: auto;
    align-items: center;
    
}

.logo i {
    font-size: 1.25rem;
}

.logo:hover{
    color: var(--first-color-alt);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-left: 0.75rem;
    margin: .2rem;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    text-decoration: underline;
}

.center-item{
    place-items: center;
    justify-content: center;
}

.button-group{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.button-group .button1 {
    flex: 1 0 0;
    margin: 5px;
  }
  
  .button1 {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: #0056b3;
  }

.main{
    padding-top: 6rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    padding: 20px;
}

.title-section{
    background-color: hsl(174, 63%, 62%);
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    border-radius: 5px;
    color: black;
}

.content-title{
    padding-top: 50px;
    padding-bottom: 20px;
}

.grid-item img{
    max-width: 100%; /* Gambar tidak melebihi lebar grid-item */
    max-height: 100%; /* Gambar tidak melebihi tinggi grid-item */
    display: block; /* Menghilangkan margin bawah */
    margin: auto; /* Untuk gambar di tengah secara vertikal */
    align-items: center;
    justify-content: center;
    display: flex;
}

.big-title{
    color: navy;
    font-size: 3rem;
}

.metadata{
    line-height: 3.5rem;
}

.button2 {
    display:flex;
    align-items: center;
    column-gap: 0.5rem;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.5);
    justify-content: center;
    width: 300px;
    height: 50px;
}

.button2 i {
    font-size: 1.25rem;
}

.button2:hover {
    background-color: var(--first-color-alt);
    color: #fff;
}

.filter_button{
    cursor: pointer;
}

.section2{
    background-color:white;
    text-align: center;
}

.section-subab-title{
    background-color: navy;
    padding: 30px;
}

.white-text{
    color: white;
}

.list-section{
    /*line-height: 2rem;    
    padding-left: 30rem;*/
    display: inline-block;
    text-align: left;
    line-height: 2rem;
}