@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  /*--hue: 0;
  --sat: 83%;
  --lig: 47%;
  */ 
  --hue: 174;
  --sat: 63%;
  --lig: 62%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 30%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  
  transition: 0.3s;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    background-color: white;
    position: fixed;
    width: 100%; /* Lebar navbar mengisi seluruh lebar layar */
    top: 0; /* Navbar berada di bagian atas layar */
    z-index: 1000; /* Menentukan tingkat z-index untuk mengontrol tumpukan */
    padding-top: 10px;
    padding-bottom: 10px;
}


.logo {
    color: black;
    text-decoration: none;
    font-size: 24px;
    vertical-align: auto;
    align-items: center;
}
.logo i {
    font-size: 1.25rem;
}

.logo:hover{
    color: blue;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a.active {
    font-weight: bold;
}

.content{
    padding-top: 50px;
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    border-radius: 5px;
    color: black;
}

.grid-item img{
    max-width: 100%; /* Gambar tidak melebihi lebar grid-item */
    max-height: 100%; /* Gambar tidak melebihi tinggi grid-item */
    display: block; /* Menghilangkan margin bawah */
    margin: auto; /* Untuk gambar di tengah secara vertikal */
    align-items: center;
    justify-content: center;
    display: flex;
}

.title-section{
    background-color: hsl(174, 63%, 62%);
}

.section2{
    background-color:white;
    text-align: center;
}

.section3{
    background-color: green;
}

.h1{
    font-size: 3rem;
}

.big-title{
    color: navy;
    font-size: 3rem;
}

.p{
    color: black;
}

.button {
    display:flex;
    align-items: center;
    column-gap: 0.5rem;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.5);
    justify-content: center;
    width: 300px;
    height: 50px;
}

.button i {
    font-size: 1.25rem;
}

.button:hover {
    background-color: var(--first-color-alt);
    color: #fff;
}

.metadata{
    line-height: 3.5rem;
}


.list-section{
    /*line-height: 2rem;    
    padding-left: 30rem;*/
    display: inline-block;
    text-align: left;
    line-height: 2rem;
}

.filter_button{
    cursor: pointer;
}

.section-subab-title{
    background-color: navy;
    padding: 30px;
}

.white-text{
    color: white;
}
